body {
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    margin: 0;
}

body::after {
    content: "";
    background: red;
    width: 50px;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
}
h1{
    z-index: 1
}
p{
    z-index: 1;
    margin: 0 50px;
}
li {
    padding: 0.5rem;
}

div > a {
    float: right;
    margin-right: 30%;
    text-decoration-color: white;
}

div {
    background: mediumspringgreen;
    color: black;
    z-index: 1;
    padding: 1rem 0;
}

a{
    color: darkslategray;
    text-decoration-color: lightgreen;
    text-decoration-style: wavy;
}
marquee {
    font-size: 3rem;
}
